 @model List<Product>

@foreach (var product in Model)
{
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-product mt-30">
            <div class="product-image">
                <a href="single-product.html">
                    <img class="first-image" src="~/uploads/products/@product.ProductImages.Where(x=>x.IsPoster==true).FirstOrDefault().Url" alt="product">
                    <img class="second-image" src="~/uploads/products/@product.ProductImages.Where(x=>x.IsPoster==false).FirstOrDefault().Url" alt="product">
                </a>
                @if (@product.DiscountPercent > 0)
                {
                    <span class="discount-product">-@product.DiscountPercent%</span>
                }
                <ul class="product-meta">
                    <li><a asp-action="AddToCart" asp-controller="home" asp-route-productid="@product.Id"><i class="icon ion-bag"></i></a></li>
                    <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                    <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                    <li><a  asp-action="Detail" asp-controller="home" asp-route-productid="@product.Id"><i class="icon ion-android-open"></i></a></li>
                </ul>
            </div>
            <div class="product-content">
                <ul class="product-rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                </ul>
                <h4 class="product-title"><a href="single-product.html">@product.Title</a></h4>
                <div class="product-price">
                    @{
                        double price = product.SalePrice * ((100 - @product.DiscountPercent) / 100);
                    }
                    <span class="price-sale">$@price</span>
                </div>
            </div>
        </div> <!-- single product -->
    </div>
}